.bank-card {
    width: 450px;
    height: 280px;
    background-color: #f8f9fa;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .bank-card::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 40px;
    background-image: url(''); /* замініть шлях на вашу картинку */
    background-size: contain;
    background-repeat: no-repeat;
  }
  .bank-card-number {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
  .bank-card-expires {
    font-size: 18px;
    margin-top: 10px;
  }
  .bank-card-name {
    font-size: 16px;
    margin-top: 10px;
  }