#first-container{
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
    transition: 0.5s all ease-in-out;
}

#second-container {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
    transition: 0.5s all ease-in-out;
}

#third-container {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
    transition: 0.5s all ease-in-out;
}

#fourth-container {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
    transition: 0.5s all ease-in-out;
}

.show{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}